.expenses-table {
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
  font-family: "Montserrat", serif;

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    th,
    td {
      padding: 10px;
      border: 1px solid #ddd;
    }

    thead th {
      background-color: #323232;
      color: #fff;
      text-align: center;
      font-size: 0.8rem;
    }

    th[colspan="4"] {
      font-size: 1rem;
      font-weight: bold;
      background-color: #202020;
      color: #fff;
    }

    tbody tr {
      background-color: #fff;
      font-size: 0.8rem;
      text-align: center;
    }

    td.category {
      font-weight: bold;
    }

    td.amount {
      font-family: "DM Mono", serif;
    }

    td.negative {
      color: #d9534f;
    }

    td.positive {
      color: #5cb85c;
    }
  }
}
