// CalendarGrid.scss
.calendar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 8px;
}

.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-cell {
  font-family: "Montserrat", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  height: 80px;
  font-size: 1rem;
}

.header {
  font-weight: bold;
  background-color: #f9f9f9;
  height: auto;
}

.general {
  justify-content: right;
  align-items: baseline;
  &:not(.empty) {
    cursor: pointer;
    &:hover {
      background-color: #dfdfdf;
    }
  }
}

.empty {
  background-color: #f4f4f4;
}
