.bills-container {
  width: 90%;
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 5%;
  margin: 0.75rem 0;
}

.bills-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", serif;
}

.bills-title {
  font-weight: bold;
  margin: 0.5rem 0;
}

.add {
  font-size: 1.5rem;
  cursor: pointer;
  &:hover {
    color: #ffb3c6;
  }
}

.bill {
  font-family: "Montserrat", serif;
  font-size: 0.8rem;
  display: grid;
  margin: 0.5rem auto;
  align-items: center;
  grid-template-columns: 1fr 1fr 50px 1fr;

  .button {
    justify-self: end;
    padding: 0.5rem 1rem;
    background-color: #fee2e2;
    color: red;
    font-size: 0.6rem;
    border: 1px solid red;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 50%;
    text-align: center;
    &:hover {
      background-color: #ef4444;
      color: white;
    }
    &.paid {
      background-color: #22c55e;
      border-color: #22c55e;
      color: #fff;
      cursor: auto;
    }
  }
}
