.balance-container {
  width: 90%;
  border: 1px solid #ffb3c6;
  margin: 1.5rem auto;
}

.balance-title {
  font-family: "Montserrat", serif;
  font-size: 1rem;
  text-align: center;
  background-color: #ffb3c6;
  margin: 0;
  padding: 0.2rem 0;
}

.balance {
  font-family: "Montserrat", serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}
