.main-container {
  display: flex;
  justify-content: space-between;
}

.left {
  padding-top: 2rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 70%;
}

.expenses {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  .budget-container {
    width: 65%;
  }
  .income-container {
    width: 35%;
  }
}
